<!-- <h4 *ngIf="isWalletExists">
    You already have a wallet! Below are the details of your account.
</h4>
<div class="wallet-form" *ngIf="isWalletExists">
    <form [formGroup]="addWalletForm">
        <div class="name">
            <label>Wallet Name*</label>
            <input type="text" formControlName="walletName" value="">
        </div>
        <div class="balance">
            <label>Balance Amount </label>
            <input type="text" formControlName="balance" value="">
        </div>
        <div class="submit-button">
            <button [disabled]="!addWalletForm.valid" (click)="setupWallet()" class="primary-button">Submit</button>
        </div>
    </form>
</div> -->

<h4 *ngIf="!isWalletExists">
    Let's setup a new wallet! Please fill the below details to create a new account.
</h4>
<div class="wallet-form" *ngIf="!isWalletExists">
    <form [formGroup]="addWalletForm">
        <div class="name">
            <label>Wallet Name*</label>
            <input type="text" formControlName="walletName"
            [ngClass]="addWalletForm.get('walletName')?.touched && !addWalletForm.get('walletName')?.valid? 'error': '' " >
            <span class="input-text-helper" *ngIf="addWalletForm.get('walletName')?.touched && !addWalletForm.get('walletName')?.valid">
                <div *ngIf="addWalletForm.get('walletName')?.errors?.['required']">Wallet name is required</div>
            </span>
            <span class="status-icons">
              <i aria-hidden="true" class="fa fa-times-circle error-icon"></i>
            </span>
        </div>
        <div class="balance">
            <label>Balance Amount </label>
            <input type="text" formControlName="balance"
            [ngClass]="addWalletForm.get('balance')?.touched && !addWalletForm.get('balance')?.valid? 'error': '' " >
            <span class="input-text-helper" *ngIf="addWalletForm.get('balance')?.touched && !addWalletForm.get('balance')?.valid">
                <div *ngIf="addWalletForm.get('balance')?.errors?.['pattern']">Enter a valid amount.</div>
            </span>
            <span class="status-icons">
              <i aria-hidden="true" class="fa fa-times-circle error-icon"></i>
            </span>
        </div>
        <div class="submit-button">
            <button [disabled]="!addWalletForm.valid" (click)="setupWallet()" class="primary-button">Submit</button>
        </div>
    </form>
</div>