<!-- <h4 *ngIf="isWalletExists">
    You already have a wallet! Below are the details of your account.
</h4>
<div class="wallet-form" *ngIf="isWalletExists">
    <form [formGroup]="addWalletForm">
        <div class="name">
            <label>Wallet Name*</label>
            <input type="text" formControlName="walletName" value="">
        </div>
        <div class="balance">
            <label>Balance Amount </label>
            <input type="text" formControlName="balance" value="">
        </div>
        <div class="submit-button">
            <button [disabled]="!addWalletForm.valid" (click)="setupWallet()" class="primary-button">Submit</button>
        </div>
    </form>
</div> -->

<h4 *ngIf="!isWalletExists">
    Let's setup a new wallet! Please fill the below details to create a new account.
</h4>
<div class="wallet-form" *ngIf="!isWalletExists">
    <form [formGroup]="addWalletForm">
        <div class="name">
            <label>Wallet Name*</label>
            <input type="text" formControlName="walletName"
            [ngClass]="isFormInvalid('walletName') ? 'error': 'success' " >
            <span class="input-text-helper" *ngIf="isFormInvalid('walletName')">
                <div>Wallet name is required</div>
            </span>
            <span class="status-icons">
              <i aria-hidden="true" class="fa fa-times-circle error-icon"></i>
            </span>
        </div>
        <div class="balance">
            <label>Balance Amount </label>
            <input type="text" formControlName="balance"
            [ngClass]="isFormInvalid('balance') ? 'error': 'success' " >
            <span class="input-text-helper" *ngIf="isFormInvalid('balance')">
                <div>Enter a valid amount.</div>
            </span>
            <span class="status-icons">
              <i aria-hidden="true" class="fa fa-times-circle error-icon"></i>
            </span>
        </div>
        <div class="submit-button">
            <button [disabled]="!addWalletForm.valid" (click)="setupWallet()" class="primary-button">Submit</button>
        </div>
    </form>
</div>